<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Explanations</a>
          <div class="navbar-dropdown">
            {{#each site.components }}
              {{#if (eq this.asciidoc.attributes.type 'explanation')}}
                <a class="navbar-item" href="{{{relativize this.url}}}">{{this.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">References</a>
          <div class="navbar-dropdown">
            {{#each site.components }}
              {{#if (eq this.asciidoc.attributes.type 'reference')}}
                <a class="navbar-item" href="{{{relativize this.url}}}">{{this.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Tutorials</a>
          <div class="navbar-dropdown">
            {{#each site.components }}
              {{#if (eq this.asciidoc.attributes.type 'tutorial')}}
                <a class="navbar-item" href="{{{relativize this.url}}}">{{this.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">How-to guides</a>
          <div class="navbar-dropdown">
            {{#each site.components }}
              {{#if (eq this.asciidoc.attributes.type 'howto')}}
                <a class="navbar-item" href="{{{relativize this.url}}}">{{this.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <a class="navbar-item" href="https://academy.axoniq.io" target="_blank">AxonIQ Academy</a>
        <a class="navbar-item" href="https://discuss.axoniq.io" target="_blank">Discuss</a>
      </div>
    </div>
  </nav>
</header>
