<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}

{{!-- <hr /> --}}

{{!-- <h2>Alphabetical list</h2> --}}

{{#each (componentList page.attributes.list_type page.attributes.list_groups site.components)}}

    <h2>{{display}}</h2>

    {{#each components}}
        <dt>
            <a class="navbar-item" href="{{{relativize this.latest.url}}}">{{this.latest.title}}</a>
        </dt>
        <dd>
            {{this.latest.asciidoc.attributes.component_description}}
        </dd>
    {{/each}}

{{/each}}

{{!-- <div class="iterate_over_groups">
{{#each (jsonParse page.attributes.list_groups) }}

    <dl>
    </dl>

{{/each}}
</div> --}}

{{!-- <hr />

{{{jsonStringify page.attributes }}} --}}

{{> pagination}}
</article>
